<div class="sidebar__primary">
	<a class="btn--brand" [routerLink]="['/']">
		<svg><use xlink:href="#websolute"></use></svg>
	</a>
	<ul class="nav--sidebar">
		<li class="nav__item">
			<a class="btn--sidebar" [routerLink]="['/admin/dashboard']" routerLinkActive="active" (click)="onClickNav($event)"><svg><use xlink:href="#dashboard"></use></svg></a>
		</li>
		<li class="nav__item">
			<a class="btn--sidebar" [routerLink]="['/admin/pages']" routerLinkActive="active" (click)="onClickNav($event)"><svg><use xlink:href="#folder"></use></svg></a>
		</li>
		<li class="nav__item">
			<a class="btn--sidebar" [routerLink]="['/admin/contents']" routerLinkActive="active" (click)="onClickNav($event)"><svg><use xlink:href="#widget"></use></svg></a>
		</li>
		<li class="nav__item">
			<a class="btn--sidebar" [routerLink]="['/admin/user']" routerLinkActive="active" (click)="onClickNav($event)"><svg><use xlink:href="#users"></use></svg></a>
		</li>
		<li class="nav__item">
			<a class="btn--sidebar" [routerLink]="['/admin/setting']" routerLinkActive="active" (click)="onClickNav($event)"><svg><use xlink:href="#settings"></use></svg></a>
		</li>
		<!--
		<li class="nav__item" *ngFor="let item of menu">
			<a class="nav__link" [routerLink]="[item.slug] | route">{{item.name}}</a>
		</li>
		-->
	</ul>
	<ul class="nav--sidebar-secondary">
		<li class="nav__item">
			<a type="button" class="btn--sidebar-secondary">?</a>
		</li>
		<li class="nav__item">
			<a type="button" class="btn--admin">{{shortName}}</a>
		</li>
	</ul>
</div>
