@import 'buttons';

%group-select {
	@extend %btn-primary;
	font-size: 13px;
	line-height: 1;

	select {
		@extend %appearance;
		flex: 1 0 auto;
		font-size: 11px;
		padding: 5px 0 7px 8px;
		color: white;
		pointer-events: all;
	}

	.select__arrow {
		pointer-events: none;
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		top: 5px;
		right: 5px;
		width: 30px;
		height: calc(100% - 10px);
		border-left: 1px solid rgba(white, 0.2);

		svg {
			width: 10px;
			height: 10px;
			fill: white;
		}
	}

	&.disabled {

		background: $disabled;
		border-color: $disabled;
		color: $foreground-disabled;

		select {
			color: $foreground-disabled;
		}

		.select__arrow {
			border-left: 1px solid rgba(#585a61, 0.2);

			svg {
				fill: $foreground-disabled;
			}
		}

	}

}

/*
%fieldset {
	padding: 0;
	margin: 0;
	border: 0;
	appearance: none;
}

@media (min-width:768px) {
	.fieldset {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 100%;
	}

	.fieldset__field {
		width: calc(50% - 10px);
		flex: 0 0 calc(50% - 10px);

		&:last-child:nth-child(odd) {
			width: 100%;
			flex: 1 0 100%;
		}
	}
}
*/

%fieldset {
	padding: 20px 0;
	border-bottom: 1px solid $border; // #e7e7eb;
}

%definition {
	padding: 20px 0;
	border-bottom: 1px solid $border; // #e7e7eb;
	display: flex;
	align-items: stretch;

	&>* {
		flex: 0 0 90px;
	}

	.btn--toggle {
		margin-right: 3px;
	}

	.info {
		flex: 0 0 150px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-end;
		position: relative;
		padding-right: 20px;
		margin-right: 20px;
		text-align: right;

		.title {
			display: block;
			font-size: 13px;
			font-weight: bold;
			color: #191b22;
		}

		.type {
			display: block;
			font-size: 11px;
			font-style: italic;
			color: #585a61;

			svg {
				width: 13px;
				height: 13px;
				fill: #d6985b;
			}
		}

		&:after {
			content: '';
			display: block;
			position: absolute;
			width: 3px;
			height: 100%;
			top: 0;
			right: -1px;
			background: $primary;
			opacity: 0;
			transition: opacity ease-in-out 350ms;
		}
	}

	&.required {
		.info {
			&:after {
				opacity: 1;
			}
		}
	}

	.group--actions {
		flex: 1 1 auto;
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

	input {
		min-height: 40px;
		appearance: none;
		font-size: 15px;
		line-height: 1;
		color: #585a61;
		border: 1px solid $border; // #a9aeb8;
		border-radius: 2px;
		padding: 10px;
		box-sizing: border-box;
		outline: none;

		margin-right: 20px;

		&:focus {
			border-color: $primary;
		}

		&[disabled] {
			background: $disabled;
			border-color: $disabled;
			color: $foreground-disabled;
		}

	}

	.group--select {
		@extend %group-select;
	}

}
