<ng-container [formGroup]="state.form" *ngIf="state && state.form">
	<div class="fieldset--headline">
		<h2 class="title">{{field.name}}</h2>
		<div class="description">{{field.description}}</div>
	</div>
	<div class="fieldsets" [formGroup]="group">
		<!-- <controls-component class="fieldset" [options]="options" [form]="form"></controls-component> -->
		<div class="fieldset" *ngFor="let option of options">
			<control-outlet class="form-group" [option]="option" [form]="group">
				<ng-template #labelRef let-context>
					<div class="control__label control__label--{{context.option.schema}}" [attr.for]="context.option.key">
						<div class="title">{{context.option.label}}</div>
						<div class="type"><svg *ngIf="context.option.primaryKey"><use xlink:href="#lock"></use></svg> {{context.option.type}}</div>
					</div>
				</ng-template>
			</control-outlet>
		</div>
	</div>
</ng-container>
