<ng-container [formGroup]="state.form" *ngIf="state && state.form">
	<div class="fieldset--headline">
		<h2 class="title">{{field.name}}</h2>
		<div class="description">{{field.description}}</div>
	</div>
	<div formArrayName="fields" cdkDropList (cdkDropListDropped)="onDropField($event)">
		<div class="definition" [ngClass]="{ required: group.get('required') }" [formGroupName]="i" *ngFor="let group of fields.controls; let i = index" cdkDrag [cdkDragDisabled]="group.get('primaryKey').value || group.get('required').value">
			<div class="drag__placeholder" *cdkDragPlaceholder></div>
			<div class="drag__handle" cdkDragHandle>
				<svg><use xlink:href="#drag"></use></svg>
			</div>
			<div class="info">
				<div class="title">{{group.get('name').value}}</div>
				<div class="type"><svg *ngIf="group.get('primaryKey').value"><use xlink:href="#lock"></use></svg> {{group.get('type').value}}</div>
			</div>
			<toggle-component formControlName="visible" on="visible" off="hidden"></toggle-component>
			<toggle-component formControlName="editable" on="editable" off="locked"></toggle-component>
			<toggle-component formControlName="indexable" on="indexable" off="unindexable"></toggle-component>
			<button class="btn--toggle" [ngClass]="{ active: group.get('control').value }" (click)="onEditField($event, group)">
				<span>{{group.get('control').value || 'control'}}</span>
			</button>
			<div class="description">{{group.get('description').value}}</div>
			<div class="group--actions">
				<button class="btn--round" (click)="onEditField($event, group)">
					<span>Edit</span>
					<svg><use xlink:href="#edit"></use></svg>
				</button>
			</div>
		</div>
	</div>
	<!--
	<div cdkDropList (cdkDropListDropped)="onDropField($event)">
		<div class="definition" [ngClass]="{ required: field.required }" [formGroup]="state.form" *ngFor="let field of state.fields; let n = index" cdkDrag [cdkDragDisabled]="field.primaryKey || field.required">
			<div class="drag__placeholder" *cdkDragPlaceholder></div>
			<div class="drag__handle" cdkDragHandle>
				<svg><use xlink:href="#drag"></use></svg>
			</div>
			<div class="info">
				<div class="title">{{field.name}}</div>
				<div class="type"><svg *ngIf="field.primaryKey"><use xlink:href="#lock"></use></svg> {{field.type}}</div>
			</div>
			<button class="btn--toggle" [ngClass]="{ active: field.visible }" (click)="field.visible = !field.visible">
				<span *ngIf="field.visible">visible</span>
				<span *ngIf="!field.visible">hidden</span>
			</button>
			<button class="btn--toggle" [ngClass]="{ active: field.editable }" (click)="field.editable = !field.editable">
				<span *ngIf="field.editable">editable</span>
				<span *ngIf="!field.editable">locked</span>
			</button>
			<button class="btn--toggle" [ngClass]="{ active: field.indexable }" (click)="field.indexable = !field.indexable">
				<span *ngIf="field.indexable">indexable</span>
				<span *ngIf="!field.indexable">unindexable</span>
			</button>
			<button class="btn--toggle" [ngClass]="{ active: field.control }" (click)="onEditField($event, field)">
				<span>{{field.control || 'control'}}</span>
			</button>
			<div class="description">
				{{field.description}}
			</div>
			<div class="group--actions">
				<button class="btn--round" [ngClass]="{ active: field.control }" (click)="onEditField($event, field)">
					<span>Edit</span>
					<svg><use xlink:href="#edit"></use></svg>
				</button>
			</div>
		</div>
	</div>
	-->
</ng-container>
