@import '~styles/admin/variables';
@import '~styles/admin/mixins';

:host {
	@extend %layout-main;
}

.headline {
	@extend %layout-headline;
}

.content {
	@extend %layout-content;
}

.container {
	@extend %layout-container;
}

.area {
	color: rgba(white, 0.5);
}

.pill {
	background: $primary;
	color: white;
	padding: 4px 8px;
	border-radius: 5px;
	font-size: 12px;
	line-height: 1;
}
