<ng-container *ngIf="definition">
	<div class="headline">
		<div class="title">
			<span class="area">{{definition.name}}</span> <span>New</span>
		</div>
		<div class="actions"></div>
	</div>
	<div class="content">
		<div class="container">
			<form class="form" name="form" [formGroup]="form" (ngSubmit)="form.valid && onSubmit(form.value)" role="form" novalidate autocomplete="off">
				<!-- <controls-component class="fieldset" [options]="options" [form]="form"></controls-component> -->
				<div class="fieldsets">
					<div class="fieldset" *ngFor="let option of options">
						<control-outlet class="form-group" [option]="option" [form]="form"></control-outlet>
					</div>
				</div>
				<div class="nav--inline">
					<button type="submit" class="btn btn--primary" [disabled]="submitted || !form.valid" [ngClass]="{ 'btn--busy': busy }"><span>Create</span></button>
				</div>
			</form>
			{{type}}
			{{definition | json}}
		</div>
	</div>
</ng-container>
