<div class="sidebar__secondary" *ngIf="type">
	<div class="headline">
		<div class="title">Site Manager</div>
	</div>
	<div class="category">Directories</div>
	<ul class="nav--menu-primary">
		<li>
			<a class="btn--menu-primary" [routerLink]="['/admin/pages/data', type.model]" routerLinkActive="active">
				<span>Pages</span>
				<svg (click)="onEditType($event, type)"><use xlink:href="#edit"></use></svg>
			</a>
		</li>
		<li>
			<a class="btn--menu-secondary" (click)="onAddItem($event)"><svg><use xlink:href="#add"></use></svg> <span>Add Page</span></a>
		</li>
	</ul>
	<div class="category">Page Types</div>
	<ul class="nav--menu-secondary">
		<li *ngFor="let item of otherTypes">
			<a class="btn--menu-secondary" [routerLink]="['/admin/pages/data', item.model]" routerLinkActive="active">
				<svg><use xlink:href="#document"></use></svg>
				<span>{{item.name}}</span>
				<svg (click)="onEditType($event, item)"><use xlink:href="#edit"></use></svg>
			</a>
		</li>
		<li>
			<a class="btn--menu-secondary" (click)="onAddType($event)"><svg><use xlink:href="#add"></use></svg> <span>Add Page Type</span></a>
		</li>
	</ul>
</div>
