@import '~styles/admin/variables';
@import '~styles/admin/mixins';

/*
.fieldset--headline {
	align-items: flex-start;
}
*/

.fieldset--headline {
	margin-bottom: 20px;

	&.disabled {
		opacity: 0.5;

	}

	&>.title {
		.name {
			color: $primary;
			font-size: 19px;
			font-weight: normal;
			width: 100%;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		}

		.type {
			display: block;
			font-size: 11px;
			font-style: italic;
			color: $primary;

			svg {
				width: 13px;
				height: 13px;
				fill: #d6985b;
			}
		}
	}

	&>.description {
		flex: 0 1 400px;

		.pill {
			@extend %pill;
			cursor: pointer;
		}

		.title {
			font-size: 19px;
			font-weight: 100;
			line-height: 1.2;
			margin-bottom: 10px;
		}

		.abstract {
			font-size: 17px;
			font-weight: 100;
			line-height: 1.2;
			margin-bottom: 20px;
		}

		.description {
			font-size: 14px;
			font-weight: 100;
			line-height: 1.5;
			margin-bottom: 10px;
		}
	}

	&>.actions {
		display: flex;
		align-items: center;
	}
}

.picture {
	// @include aspect-bottom(1, 1);
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 100%;
	max-height: 30vh;
	overflow: hidden;

	background: $border;
	border-radius: 2px;

	img {
		width: 100%;
		max-height: 100%;
		object-fit: contain;
		transition: all ease-in-out 350ms;
	}

	&:hover {
		img {
			transform: scale(1.1, 1.1);
		}
	}
}

.btn--icon {
	@extend %btn--icon;
}
