<ng-container [formGroup]="state.form" *ngIf="state && state.form">
	<div class="fieldset--headline">
		<h2 class="title">{{state.type}}</h2>
		<div class="description">
			<h2>{{state.item.title[0].text}}</h2>
		</div>
	</div>
	<div class="fieldset--headline">
		<h2 class="title"></h2>
		<div class="description">
			<div class="picture" *ngIf="state.item.assets" (click)="onEditAsset(state.item.assets[0])" [ngStyle]="{ 'padding-top.%': 100 / state.item.assets[0].width * state.item.assets[0].height }">
				<img [src]="getSrc(state.item.assets[0])" />
			</div>
			<h4>{{state.item.abstract[0].text}}</h4>
			<p>{{state.item.description[0].text}}</p>
		</div>
	</div>
</ng-container>
