<div class="wrapper" [ngClass]="{ opened: opened }">
	<sidebar-component (expand)="opened = $event"></sidebar-component>
	<div class="wrapper__content">
		<router-outlet #outlet="outlet"></router-outlet>
	</div>
</div>

<!--
<section class="section--tabs">
	<div class="container">
		<ul class="nav nav--tabs">
			<li><a routerLink="prestazioni" routerLinkActive="active">Prestazioni</a></li>
			<li><a routerLink="medici" routerLinkActive="active">Medici</a></li>
			<li><a routerLink="offerte" routerLinkActive="active">Offerte</a></li>
			<li><a routerLink="domande" routerLinkActive="active">Domande</a></li>
		</ul>
	</div>
</section>
-->
