@import '~styles/admin/variables';

.switch {
	width: 70px;
	height: 40px;
	border-radius: 20px;
	position: relative;
	// margin-top: 10px;
	background: white;
	border: 1px solid $disabled;
	cursor: pointer;

	&.active {
		background: $disabled;

		&>.switch__knob {
			transform: translateX(100%);
			background: $primary;
		}
	}
}

.switch__knob {
	width: 30px;
	height: 30px;
	border-radius: 15px;
	background: $disabled;
	position: absolute;
	top: 50%;
	margin-top: -15px;
	margin-left: 5px;
	transition: all ease-in-out 350ms;
}
