<ng-container [formGroup]="state.form" *ngIf="state && state.form">
	<!--
	<div class="fieldset--headline">
		<h2 class="title">{{state.type}}</h2>
		<div class="description">{{state.item.name}}</div>
	</div>
	-->
	<!-- <controls-component class="fieldset" [options]="state.options" [form]="state.form"></controls-component> -->
	<div class="fieldset" *ngFor="let option of state.options">
		<control-outlet class="form-group" [option]="option" [form]="state.form">
			<ng-template #labelRef let-context>
				<div class="control__label control__label--{{context.option.schema}}" [attr.for]="context.option.key">
					<div class="title">{{context.option.label}}</div>
					<div class="type"><svg *ngIf="context.option.primaryKey"><use xlink:href="#lock"></use></svg> {{context.option.type}}</div>
				</div>
			</ng-template>
		</control-outlet>
	</div>
</ng-container>
