<ng-container *ngIf="definition && item">
	<div class="headline">
		<div class="title">
			<span class="area">{{definition.name}}</span> <span class="pill">{{id}}</span> <span>{{item.name}}</span>
		</div>
		<div class="actions">
			<button type="button" class="btn--headline" (click)="onPreview()">
				<span>Preview</span> <svg><use xlink:href="#view"></use></svg>
			</button>
		</div>
	</div>
	<div class="content">
		<div class="container">
			<ul class="nav--tabs">
				<li *ngFor="let item of tabFields">
					<a [routerLink]="item.slug" routerLinkActive="active"><span>{{item.name}}</span></a>
				</li>
			</ul>
			<div class="tabs--content">
				<form class="form" name="form" [formGroup]="form" role="form" novalidate autocomplete="off">
					<div class="fieldsets">
						<router-outlet></router-outlet>
					</div>
					<div class="nav--inline">
						<button type="button" class="btn btn--secondary" [disabled]="busy || !form.valid" (click)="onReset()"><span>Reset</span></button>
						<button type="button" class="btn btn--primary" [disabled]="busy || !form.valid || !hasDiff" [ngClass]="{ 'btn--busy': busy }" (click)="form.valid && onSubmit(form.value)"><span>Save</span></button>
					</div>
				</form>
			</div>
		</div>
	</div>
</ng-container>
