<ng-container *ngIf="definition">
	<div class="container admin-vars">
		<div class="group--headline">{{definition.name}}</div>
		<div class="group--form">
			<form class="form" [ngClass]="{ submitted: submitted }" name="form" [formGroup]="form" (ngSubmit)="form.valid && onSubmit(form.value)" role="form" novalidate autocomplete="off">
				<div class="fieldsets">
					<div class="fieldset" *ngFor="let option of options">
						<control-outlet class="form-group" [option]="option" [form]="form">
							<ng-template #labelRef let-context>
								<div class="control__label control__label--{{context.option.schema}}" [attr.for]="context.option.key">
									<div class="title">{{context.option.label}}</div>
									<div class="type"><svg *ngIf="context.option.primaryKey"><use xlink:href="#lock"></use></svg> {{context.option.type}}</div>
								</div>
							</ng-template>
						</control-outlet>
					</div>
				</div>
				<div class="nav--inline">
					<button type="submit" class="btn btn--primary" [disabled]="submitted || !form.valid" [ngClass]="{ disabled: submitted, invalid: !form.valid, 'btn--busy': busy }">
						<span>{{item ? 'Save' : 'Create'}}</span>
					</button>
				</div>
			</form>
		</div>
	</div>
</ng-container>
