@import '~styles/admin/variables';
@import '~styles/admin/mixins';

.wrapper {
	padding: 0 20px;
}

$icon: 18px;

.table__cell {
	flex: 1 1 80px;
	padding: 5px 0;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;

	&.cell--sm {
		flex: 0 0 32px;
		text-align: center;
	}

	&.cell--md {
		flex: 0 0 64px;
		text-align: center;
	}
}

/*
.table__cell+.table__cell {
	margin-left: 5px;
}
*/

.table__cell:not(:first-child) {
	margin-left: 10px;
}

.cell--lg {
	display: flex;

	.btn--action+.btn--action {
		margin-left: 1px;
	}
}

.btn--action {
	@extend %btn-action;
	transition: none;

	svg {
		transition: none;
	}
}
