.nav {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

/*
.nav {
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0 0 0;

	&>li {
		display: block;
		padding: 0;

		&>a {
			display: block;
			box-sizing: border-box;
		}
	}
}
*/

.nav--dropdown {
	flex-direction: column;
	position: absolute;
	background: white;
	padding: 0;
	right: 0;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.2);
	border-radius: 5px;

	&>li {

		&>* {
			font-size: 14px;
			padding: 10px 15px;
			color: #666;
			transition: ease-in-out 350ms;
			transition-property: background-color, color;

			&:hover {
				color: #222;
			}
		}

		&>*+* {
			border-top: 1px solid #ccc;
		}

	}

}

.nav--tabs {
	border-bottom: 1px solid #ccc;
	padding: 20px 0 0 0;
	margin-bottom: 20px;

	&>li {
		&>a {
			padding: 10px 15px;
			border-bottom: 1px solid #ccc;
			margin-bottom: -1px;
			background: transparent;
			color: #222;

			&.active {
				background: $primary;
				color: #fff;
			}
		}
	}
}
