<ng-container *ngIf="definition && form">
	<!--
	<div class="modal__header">
		<button type="button" class="btn btn--prev" (click)="doPrev()" *ngIf="modalCount > 1" [title]="'modal.back' | label : 'back'">
			<svg><use xlink:href="#prev" /></svg> <span>{{'modal.back' | label : 'back'}}</span>
		</button>
		<button type="button" class="btn btn--close" (click)="doClose()" [title]="'modal.close' | label : 'close'">
			<svg><use xlink:href="#close" /></svg> <span>{{'modal.close' | label : 'close'}}</span>
		</button>
	</div>
	-->
	<form class="form" [ngClass]="{ submitted: submitted }" name="form" [formGroup]="form" (ngSubmit)="form.valid && onSubmit(form.value)" role="form" novalidate autocomplete="off">
		<div class="container admin-vars" *ngIf="definition">
			<div class="group--headline">{{definition.name}}</div>
			<div class="group--form">
				<div class="fieldsets">
					<!-- <controls-component class="fieldset" [options]="options" [form]="form"></controls-component> -->
					<div class="fieldset" *ngFor="let option of options">
						<control-outlet class="form-group" [option]="option" [form]="form">
							<ng-template #labelRef let-context>
								<div class="control__label control__label--{{context.option.schema}}" [attr.for]="context.option.key">
									<div class="title">{{context.option.label}}</div>
									<div class="type"><svg *ngIf="context.option.primaryKey"><use xlink:href="#lock"></use></svg> {{context.option.type}}</div>
								</div>
							</ng-template>
						</control-outlet>
					</div>
				</div>
				<!--
				<div class="alert alert--danger fade show" role="alert" *ngIf="error">
					<strong [innerHTML]="'error' | translate"></strong>
				</div>
				<div class="nav--inline">
					<button type="button" class="btn btn--secondary" (click)="onReset()"><span>Reset</span></button>
					<button type="submit" class="btn btn--primary" [disabled]="submitted || !form.valid" [ngClass]="{ disabled: submitted, invalid: !form.valid, 'btn--busy': busy }"><span>Save</span></button>
				</div>
				-->
			</div>
		</div>
		<div class="modal__footer">
			<button type="button" class="btn btn--secondary" (click)="onReset()"><span>Reset</span></button>
			<button type="submit" class="btn btn--primary" [disabled]="submitted || !form.valid" [ngClass]="{ disabled: submitted, invalid: !form.valid, 'btn--busy': busy }"><span>Save</span></button>
		</div>
	</form>
</ng-container>
